//
   Created by sinoon on 15/8/20.

extends ../layout

block content
    .container
        .row
            .col-md-12
                h1 测试微信授权
                .panel
                    .panel-heading
                        h2 测试结果
                    .panel-body
                        dl.dl-horizontal
                            dt code:
                            dd= code
                            dt accessToken:
                            dd= accessToken
                            dt openid
                            dd= openid
                        hr
                        h4 用户信息
                            dl.dl-horizontal
                                dt openid
                                dd= userInfo.openid

                                dt nickname
                                dd= userInfo.nickname

                                dt sex
                                dd= userInfo.sex

                                dt language
                                dd= userInfo.language

                                dt city
                                dd= userInfo.city

                                dt province
                                dd= userInfo.province

                                dt country
                                dd= userInfo.country

                                dt 头像
                                dd
                                    img(src=userInfo.headimgurl)
